.elements{
    display: flex;
}
.element{
    width: 250px;
    height: 250px;
    border: 5px double darkred;
    background-color: darkgreen;
    border-radius: 4px;
    margin: 20px auto;
    display: flex;
}
.gameElement{
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;
}